@{
    ViewBag.Title = "Página Principal";
}

<h2>Página principal</h2>

<hr />

<div id="inicial">
    <img class="imagem" src="~/Content/imagens/asp-net.png" />

</div>

<style>

    h2 {
        background: #808080;
        padding: 10px;
    }

    .imagem {
        width: 480px;
        margin: 50px auto auto auto;
    }

</style>


